# Eleven Labs API Key
VITE_ELEVEN_LABS_API_KEY=your_api_key_here

# MongoDB Connection Details
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority
MONGODB_DATABASE=patient_advocacy
MONGODB_COLLECTION=users

# JWT Secret for Authentication
JWT_SECRET=your_jwt_secret_key_here

# Test User Configuration
USE_TEST_USER=false

# Firebase Configuration
VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain_here
VITE_FIREBASE_PROJECT_ID=your_firebase_project_id_here
VITE_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket_here
VITE_FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id_here
VITE_FIREBASE_APP_ID=your_firebase_app_id_here
VITE_FIREBASE_MEASUREMENT_ID=your_firebase_measurement_id_here
